footer{
    width: 100%;
    height: 200px;

    @include flexStructureColumn;

    background-color: $color__primary;

        // Social Media
        .socialMediaContainer{
            width: 100%;
            height: 60%;
            
            @include flexStructureRow;

                .bi-instagram, .bi-facebook, .bi-youtube{
                    width: 50px;
                    height: 50px;
                    
                    margin: 10px;

                    fill: $color__white;
                }

                .bi:hover{
                    fill: $color__secondary;
                }
        }

        // Legal
        .legalContainer{
            width: 100%;
            height: 40%;

            @include flexStructureRow;

                p{
                    margin: 10px;
                    color: $color__white;
                    font-size: 1rem;
                }

                p:hover{
                    color: $color__secondary;
                }
        }
}

@media screen and (min-width:1000px){
    footer{

        .legalContainer{
            p{
                margin: 20px;
                font-size: 1.5rem;
            }
        }
    }
}