$color__black: black;
$color__black-transparent: rgba(0, 0, 0, 0.5);
$color__white: white;
$color__white-transparent: rgba(255, 255, 255, 0.5);
$color__primary: rgb(145, 222, 69);
$color__primary-transparent: rgba(146, 222, 69, 0.5);
$color__secondary: rgb(169, 4, 191);
$color__secondary-transparent: rgba(169, 4, 191, 0.5);
$color__tertiary: rgb(84, 2, 95);