*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

html{
    font-size: 62.5%;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    
}

body::-webkit-scrollbar-thumb{
    background-color: rgba(169, 4, 191, 0.5);
    border-radius: 10px;
}



a{
    text-decoration: none;
}